<?php
foreach($header as $k=>$head)
{
    echo'<div class="col-md-4 col-sm-6 col-xs-12" style="text-align: center"><a href="'.$head['link'].'" data-toggle="link"><i class="fa fa-'.$head['icon'].'"> '.$head['title'].'</i></a></div>';
}
?>
<div class="col-md-12 col-sm-12 col-xs-12"  style="margin-top: 2em">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th><?=$tableHeader['title']?></th>
            <th><?=$tableHeader['activity']?></th>
            <th><?=$tableHeader['type']?></th>
            <th><?=$tableHeader['edit']?></th>

        </thead>
        <tbody>
        <?php
        foreach($Dates as $dates=>$value)
        {
            ?>
            <tr>
                <td><?=$value['number'];?></td>
                <td><a href="<?=$value['link'];?>"  data-toggle="link"><?=$value['title'];?></a></td>
                <td><?=$value['enabled'];?></td>
                <td><?=$value['type'];?></td>
                <td><?=$value['editable'];?></td>
            </tr>
        <? } ?>
        </tbody>
    </table>
    </div>
</div>
<script>
    var ModulesScript = '<?php echo JS ?>';
    $.holdReady( true );
    $.getScript(ModulesScript, function() {
        $.holdReady( false );
    });
</script>